body {
  padding: 30px;
}

#pictureofme {
  width: 250px;
  height: auto;
  border-radius: 50%;
  margin-right: 50px;
  box-shadow: 4px 7px 5px grey;
}

.jumbotron {
  background-color: #d9d9d9;
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}
